.advice-block {
    .dafes-grid-block-left {
        .advice-block-logo-ru {
            svg {
                @media (max-width: 1199px) {
                    width: 530px;
                    height: 44.623px;
                }
                @media (max-width: 743px) {
                    width: 300px;
                    height: 25.258px;
                }
            }
        }

        .advice-block-logo-en {
            svg {
                @media (max-width: 1199px) {
                    width: 426.616px;
                    height: 32px;
                }
                @media (max-width: 743px) {
                    width: 239.972px;
                    height: 18px;
                }
            }
        }
    }

    .dafes-grid-block-right {
        grid-row: 1/3;
        grid-column: 4/5;

        @media (max-width: 743px) {
            grid-row: 3/4;
            grid-column: 1/2;
        }
    }
}