.slider-wrapper {
    position: relative;
    width: 1200px;
    margin: 40px auto 0 auto;

    @media (max-width: 1439px) {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        z-index: 10;
        font-size: 0;
        background: transparent;
        border: none;
    }

    .slick-prev {
        left: 0;
        margin-left: 24px;

        @media (max-width: 743px) {
            margin-left: 10px;
        }
    }

    .slick-next {
        right: 0;
        margin-right: 24px;

        @media (max-width: 743px) {
            margin-right: 10px;
        }
    }

    .slider {
        .slick-track {
            display: flex;
        }

        .slick-list {
            overflow: hidden;
        }

        &-item {
            height: 100%;
            display: flex;

            &-left {
                width: 100%;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;

                @media (max-width: 1199px) {
                    width: calc(100vw);
                    height: 320px;
                    padding: 16px;
                }

                @media (max-width: 743px) {
                    padding: 16px 10px;
                }

                &-top {
                    svg {
                        @media (max-width: 1199px) {
                            width: 240px;
                            height: 52.5px;
                        }

                        @media (max-width: 743px) {
                            width: 146px;
                            height: 32px;
                        }
                    }
                }

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 206px;

                    @media (max-width: 1439px) {
                        margin-right: 0;
                    }

                    .bottom-svg-education {
                        svg {
                            @media (max-width: 1199px) {
                                width: 445px;
                                height: 48px;
                            }

                            @media (max-width: 743px) {
                                width: 183px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom-svg-startups {
                        svg {
                            @media (max-width: 1199px) {
                                width: 390px;
                                height: 48px;
                            }

                            @media (max-width: 743px) {
                                width: 162.5px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom-svg-design {
                        svg {
                            @media (max-width: 1199px) {
                                width: 294px;
                                height: 48px;
                            }

                            @media (max-width: 743px) {
                                width: 122.5px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom-svg-art {
                        svg {
                            @media (max-width: 1199px) {
                                width: 151px;
                                height: 48px;
                            }

                            @media (max-width: 743px) {
                                width: 62px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom-svg-fashion {
                        svg {
                            @media (max-width: 1199px) {
                                width: 321px;
                                height: 48px;
                            }

                            @media (max-width: 743px) {
                                width: 133px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom-svg-arrow {
                        svg {
                            @media (max-width: 1199px) {
                                width: 56px;
                                height: 56px;
                            }

                            @media (max-width: 743px) {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }

            &-left-1 {
                background: #5C97FF;
            }

            &-left-2 {
                background: $primaryGreenDafes;
            }

            &-left-3 {
                background: $primaryRedDafes;
            }

            &-left-4 {
                background: $primaryPinkDafes;
            }

            &-left-5 {
                background: $primaryOrangeDafes;
            }


            //&-right {
            //    width: 163px;
            //    height: 400px;
            //
            //    @media(max-width: 1199px) {
            //        display: none;
            //    }
            //}

            //&-right-1 {
            //    background: $primaryGreenDafes;
            //}
            //
            //&-right-2 {
            //    background: $primaryRedDafes;
            //}
            //
            //&-right-3 {
            //    background: $primaryPinkDafes;
            //}
            //
            //&-right-4 {
            //    background: $primaryOrangeDafes;
            //}
            //
            //&-right-5 {
            //    background: $primaryBlueDafes;
            //}
        }
    }
}