// -- colors

$backgroundWhiteDafes: #FFFFFF;

$primaryWhiteDafes: #FEFEFE;
$secondaryWhiteDafes: #F2F2F2;

$primaryGoldDafes: #C8B464;

$primaryBlackDafes: #151514;

$primaryGrayDafes: #909090;
$secondaryGrayDafes: #B3B3B3;

$separatorDafes: #BFBFBF;

$primaryBlueDafes: #5C97FF;
$primaryGreenDafes: #4EF100;
$primaryRedDafes: #FF0000;
$primaryPinkDafes: #FF6BFF;
$primaryOrangeDafes: #FF8C00;