.white-block {

    .white-block-logo-ru {
        svg {
            @media(max-width: 1199px) {
                width: 710px;
                height: 52.5px;
            }

            @media(max-width: 743px) {
                width: 540px;
                height: 40px;
            }
        }
    }

    .white-block-logo-en {
        svg {
            @media(max-width: 1199px) {
                width: 700px;
                height: 44px;
            }

            @media(max-width: 743px) {
                width: 509px;
                height: 32px;
            }
        }
    }

    .white-block-logo-mob-ru {
        @media(max-width: 600px) {
            gap: 8px;
        }

        @media(max-width: 375px) {
            flex-direction: column;
            gap: 4px;
        }
    }

    .white-block-logo-mob-en {
        @media(max-width: 600px) {
            display: flex;
            gap: 8px;
        }

        @media(max-width: 375px) {
            flex-direction: column;
            gap: 4px;
        }
    }

    .dafes-grid-block {

        .dafes-grid-block-right {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media(max-width: 1199px) {
                gap: 24px;
            }

            .bottom-right-list-wrapper {
                display: flex;
                flex-direction: column;
                gap: 24px;

                @media(max-width: 1199px) {
                    gap: 16px;
                }

                .bottom-right-list-head {
                    color: $primaryBlackDafes;
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: -0.02em;

                    @media(max-width: 1199px) {
                        font-size: 17px;
                        line-height: 22px;
                    }
                }

                .bottom-right-list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    @media(max-width: 1199px) {
                        gap: 8px;
                    }

                    &-item {
                        color: $primaryBlackDafes;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: -0.02em;

                        @media(max-width: 1199px) {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}